/* codice generale */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container, #risultato{
    text-align: center;
    padding-top: 20px;
}

h2{
    padding: 20px 0;
}

.number{
    font-size: 50px;
    padding: 10px;
    border: 1px solid black;
}

.hide{
    display: none;
}